@font-face {
  font-family: 'Museo3';
  src: url("../fonts/museo300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo5';
  src: url("../fonts/museo500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo7';
  src: url("../fonts/museo700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: ;
}