<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metro Bank</title>
    <link rel="stylesheet" type="text/css" href="../css/bank.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="top">
    <img class="float-right" src="../images/metro.png">
    <div>
        <h2 class="float-left" id="menu">Main Menu</h2>
    </div>
    <div>
        <h2 class="float-left" id="welcome">Welcome to Metro Banks</h2>
    </div>
    <div>
        <h1 class="float-left" id="banks">Select a transaction</h1>
    </div>
</div>

<div class="float-left" id="left-side">
    <div class="button float-left it">
        <div>
            <p>MyATM* Cash</p>
        </div>
        <p>MyChecking X-5892</p>
    </div>
    <div class="button float-left it">
        <div>
            <p>MyATM* Stamps</p>
        </div>
        <p>
            MyChecking X-5892 <br>
            $8.35 (36 stamps)
        </p>
    </div>
    <div class="button float-left it">
        <div>
            <p>Language</p>
        </div>
        <p>
            Cambie el <br>
            Lenguaje
        </p>
    </div>
</div>
<div class="float-right" id="right-side">
    <div>
    <div class="button float-right">
        <p>Get Cash</p>
    </div>
    <div class="button float-right">
        <p>Balance &<br>
            Statements</p>
    </div>
    <div class="button float-right">
        <p>Transfer</p>
    </div>
    </div>
    <div class="button float-right">
        <p>Deposit Checks</p>
    </div>
    <div class="button float-right up">
        <p>Donate<br>
            To Charity</p>
    </div>
    <div class="button float-right up">
        <p>Buy Stamps</p>
    </div>
    <div class="button float-right">
        <p>Deposit Cash</p>
    </div>
    <div class="button float-right up">
        <p>Direct Deposit <br>
            Advance</p>
    </div>
    <div class="button float-right up">
        <p>MyATM <br>
            Preferences</p>
    </div>
    <div id="thing" class="button float-right">
        <p>Return Card</p>
    </div>
</div>













</body>
</html>